<html>
	<head>
		<style>
			.panel {
				padding: 10px;
				border: 8px solid black;
				margin: 16px;
			}
			{% for tag, colors in tag_color_mapping.items() %}
			.bg-{{ tag }} {
				background-color: {{ colors['background'] }};
				border-color: {{ colors['border'] }};
				color: {{ colors['text'] }};
			}
			{% endfor %}
			pre {
			    text-wrap: wrap;
			}
		</style>
	</head>
	<body>
		{% for trace_item in trace_items %}
			<div class="panel bg-{{ trace_item.tag }}">
				<pre>{{ trace_item.trace }}</pre>
			</div>
		{% endfor %}
	</body>
</html>